<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Notice_1" value="1.单张团体票最少10人，最多20人，若团体共21人请按照10人、11人进行扫描和购买。"/>
    <add key="Notice_2" value="2.本团体凭证仅可使用2次（蓬莱港1次，长岛港1次），有效期5天，若您的团队留岛时间较长，请购票时重新办理。"/>
    <add key="Notice_3" value="3.手工添加前或扫描后请确认身份证信息，确认后无法编辑。"/>
    <add key="Notice_4" value="4.一张团体凭证仅可购买一张团体票。"/>
    <add key="Notice_5" value="5.APP用户在保存团体后请在App上进行团体票购买，可使用次数同上。"/>
    <add key="Notice_6" value="6.使用时若遇到问题，请联系港口工作人员。"/>
    
    <add key="Ticket_1" value="1、请持此凭证到售票窗口购买团体票。"/>
    <add key="Ticket_2" value="2、此凭证仅可分别在蓬莱、长岛购票一次，有效期5天，过期请重新办理。"/>
    <add key="Ticket_3" value="*重要*：如因导游录入的旅客身份信息有误（含恶意操作），我公司有权按照实名制要求进行检查，因此造成的航班延误及旅客无法乘船，我公司不承担任何责任。"/>
    
    <add key="SSL_Name" value="aaa"/>
    <add key="Com_Port" value="COM3"/>
    <!--<add key="Affect_Day" value="5"/>-->
    <add key="URL_Phone" value="http://122.5.31.66:8888"/>
    <add key="URL_Save" value="http://122.5.31.66:8888"/>
    <add key="Area" value="1414"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GroupCertificateServiceServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://122.5.31.66:8888/TicketInterface/services/GroupCertificateService"
        binding="basicHttpBinding" bindingConfiguration="GroupCertificateServiceServiceSoapBinding"
        contract="GroupPassengersService.GroupCertificateService" name="GroupCertificateServicePort" />
    </client>
  </system.serviceModel>
</configuration>